header {
	color: white;
	padding: 40px;
	font-size: 20px;
}

header a {
	padding-left: 15px;
	padding-right: 15px;
}
header a:link , header a:active, header a:visited{
	color: #CAD6D1;
	text-decoration: none;
	font-size: 30px;
}

header a:hover {
	color: gray;
	text-decoration: none;
}
.background{
	background-repeat: no-repeat;
	height: 670px;
	border-top: 10px solid black;
	background-size: cover;
}
@media (min-width: 750px){
	.background-main{height: 660px;
}
}
.background-main {
	background-image: url(http://i611.photobucket.com/albums/tt194/guardian_1_5/web-perfil/fondo_perfil_zpszqswuqc3.jpg);
	background-repeat: no-repeat;
	height: 400px;
}

.background-about {
	background-image: url(http://i611.photobucket.com/albums/tt194/guardian_1_5/web-perfil/laptop-849800_1280_zpsdgl47qe3.jpg);
}

.background-portfolio {
	background-image: url(http://i611.photobucket.com/albums/tt194/guardian_1_5/web-perfil/the-background-811346_1280_zpswcbhmb60.jpg);
}

.background-contact {
	background-image: url(http://i611.photobucket.com/albums/tt194/guardian_1_5/web-perfil/work-864960_1280_zpsc7kpcavf.jpg);
}

footer{
	background-color: #2B2B2B;
	color: white;
}

img {
	vertical-align: bottom;
}

.img-perfil {
	width: 200px;
	height: 202px;
	border-radius: 50%;
	border: 2px solid white;
	margin-bottom: 25px;
}
.row {
	padding-top: 30px;
}

ul {
	list-style: none;
	font-size: larger;
}

.nombre{
	font-size: 40px;
}

.descripcion {
	font-size: large;
}

header .row {
	padding: 0;
}

.btn {
	margin-top: 25px;
}

li {
	margin-top: 10px;
	margin-bottom: 10px;
}
form {
	font-size: 22px;
}
.form-con {
	border: 1px solid #ccc;
	padding: 10px 30px;
	width: 100%;
	border-radius: 6px;
	opacity: 0.8;
	font-size: 18px;

}

.background-form {
	background-color: rgba(204, 204, 204, 0.25);
	padding: 50px;
}

label {
	padding-left: 20px;
}

.meter {
	height: 21px;
	position: relative;
	margin: 12px 0 12px 0;
	background: #555;
	-moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 4.6px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.orange > span {

	background-color: #f1a165;
	display: block;
	height: 100%;
	box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.habi .bar {
	padding-right: 100px;
}
.img-redes{
	width: 50px;
	height: 50px;
	margin-left: 40px;
	margin-right: 40px;
}


@media (max-width: 750px){
	.name-habil{
		display: inline-block;
		width: 38%;
		padding-right: 0;
	}
	.bar {
		display: inline-block;
		width: 59%;
		padding-left: 0
	}
	.img-perfil {
		width: 122px;
		height: 120px;
	}
	.background-about{
		height: 940px;
	}
}